/.metadata/
/Lab1_Tasks/.settings
/Lab1_Tasks/bin
/Lab1_Tasks/.classpath
/Lab1_Tasks/.project

/Lab2_Tasks/.settings
/Lab2_Tasks/bin
/Lab2_Tasks/.classpath
/Lab2_Tasks/.project

/Lab3_Tasks/.settings
/Lab3_Tasks/bin
/Lab3_Tasks/.classpath
/Lab3_Tasks/.project

/Lab4_Tasks/.settings
/Lab4_Tasks/bin
/Lab4_Tasks/.classpath
/Lab4_Tasks/.project

/Lab5_Tasks/.settings
/Lab5_Tasks/bin
/Lab5_Tasks/.classpath
/Lab5_Tasks/.project

/Lab6_Tasks/.settings
/Lab6_Tasks/bin
/Lab6_Tasks/.classpath
/Lab6_Tasks/.project

/Lab7_Tasks/.settings
/Lab7_Tasks/bin
/Lab7_Tasks/.classpath
/Lab7_Tasks/.project

/Lab8_Tasks/.settings
/Lab8_Tasks/bin
/Lab8_Tasks/.classpath
/Lab8_Tasks/.project

/Lab09_Tasks/.settings
/Lab09_Tasks/bin
/Lab09_Tasks/.classpath
/Lab09_Tasks/.project

/Lab9_Tasks/.settings
/Lab9_Tasks/bin
/Lab9_Tasks/.classpath
/Lab9_Tasks/.project

/Lab10_Tasks/.settings
/Lab10_Tasks/bin
/Lab10_Tasks/.classpath
/Lab10_Tasks/.project

/task-1
/practice